{% comment %}
Source of insperation: https://github.com/dear-github/dear-github/issues/166
Call this file with an includes command as shown bellow...
	{% include spoiler.html summary="SUMMARY" content="CONTENT" format="md"%}
{% endcomment %}
{% assign summary = include.summary | default: summary %}
{% assign content = include.content | default: content %}
{% assign format = include.format | default: format | default: 'md' %}
{% if summary %}{% if content %}
<details><summary>{{ summary }}</summary><p>
{% if format == 'md' or 'markdown' %}
{% capture dashed_content %}
---

{{ content }}

---
{% endcapture %}
{{ dashed_content | markdownify }}
{% elsif format == 'bash' or 'shell' %}
{% capture bash_content %}
---

{% highlight bash %}
{{ content }}
{% endhighlight %}

---
{% endcapture %}
{{ bash_content | markdownify }}
{% endif %}

</p></details>
{% endif %}{% endif %}
